apiVersion: v1
kind: ConfigMap
metadata:
  name: giga-ingestion-portal-configmap
  labels:
    {{- include "data-ingestion.labels" . | nindent 4 }}
  annotations:
    helm.sh/hook: pre-install,pre-upgrade
    helm.sh/hook-weight: "-10"
    helm.sh/hook-delete-policy: before-hook-creation
data:
  DB_HOST: "postgres-postgresql-hl"
  DB_PORT: "5432"
  EMAIL_RENDERER_SERVICE_URL: "http://email-service:3020"
