@use "@carbon/react" with (
  $theme: (
    background: #ffffff,
    text-primary: #277aff,
    text-secondary: #d6e4fd,
    text-disabled: #9e9e9e,
    text-error: #f94b4b,
    text-helper: #07706d,
    support-warning: #ff9f40,
    support-info: #07706d,
    support-error: #f94b4b,
  )
);

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Open Sans", system-ui, "Segoe UI Variable", "Segoe UI",
    "Helvetica Neue", "Helvetica", sans-serif;
  line-height: 1.5;

  color-scheme: normal;
  color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  min-height: 100vh;
}

a {
  color: theme("colors.primary");
}

h1 {
  font-size: theme("fontSize.6xl");
}

h2 {
  font-size: theme("fontSize.5xl");
}

h3 {
  font-size: theme("fontSize.4xl");
}

h4 {
  font-size: theme("fontSize.3xl");
}

h5 {
  font-size: theme("fontSize.2xl");
}

h6 {
  font-size: theme("fontSize.xl");
}
