@use "sass:string";
@use "types";
@use "colors";

@use "@carbon/react/scss/config" with (
  $css--font-face: false,
  $css--default-type: true,
  $css--reset: false
);
@use "@carbon/react/scss/type" with (
  $font-families: types.$font-families
);
@use "@carbon/react/scss/themes";
@use "@carbon/react/scss/theme" with (
  $theme: (
    background: colors.$giga-white,
    text-primary: colors.$giga-blue,
  )
);
@use "@carbon/react/scss/components/button/tokens" as button-tokens with (
  $button-primary: colors.$giga-blue
);
@use "@carbon/react";

//$theme: (
//  background: #ffffff,
//  text-primary: #277aff,
//  text-secondary: #d6e4fd,
//  text-disabled: #9e9e9e,
//  text-error: #f94b4b,
//  text-warning: #ff9f40,
//  text-helper: #07706d,
//  support-success: #46c66d,
//  support-error: #f94b4b,
//  support-warning: #ff9f40,
//  support-info: #07706d,
//  border-interactive: #277aff,
//  link-primary: #277aff,
//  link-visited: #277aff,
//  icon-interactive: #277aff,
//  button-primary: #277aff,
//  button-tertiary: #277aff,
//  button-danger-primary: #f94b4b,
//  button-danger-secondary: #f94b4b,
//  focus: #277aff,
//  interactive: #277aff,
//)

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Open Sans", system-ui, "Segoe UI Variable", "Segoe UI",
    "Helvetica Neue", "Helvetica", sans-serif;
  line-height: 1.5;

  color-scheme: normal;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  min-height: 100vh;
}

a {
  color: theme("colors.primary");
  text-decoration: none;
}

h1 {
  font-size: theme("fontSize.6xl");
}

h2 {
  font-size: theme("fontSize.5xl");
}

h3 {
  font-size: theme("fontSize.4xl");
}

h4 {
  font-size: theme("fontSize.3xl");
}

h5 {
  font-size: theme("fontSize.2xl");
}

h6 {
  font-size: theme("fontSize.xl");
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
