@use "sass:string";
@use "typography";
@use "colors";

@use "@carbon/react/scss/config" with (
  $css--font-face: false,
  $css--default-type: true,
  $css--reset: false
);
@use "@carbon/react/scss/type" with (
  $font-families: typography.$font-families
);
@use "@carbon/react/scss/themes";
@use "@carbon/react/scss/theme" with (
  $theme: (
    background: colors.$giga-white,
    text-primary: colors.$giga-black,
    text-secondary: colors.$giga-dark-gray,
    text-placeholder: colors.$giga-gray,
    text-helper: colors.$giga-gray,
    text-error: colors.$giga-red,
    text-disabled: colors.$giga-gray,
    support-success: colors.$giga-green,
    support-info: colors.$giga-pine,
    support-warning: colors.$giga-yellow,
    support-error: colors.$giga-red,
    link-primary: colors.$giga-blue,
    link-visited: colors.$giga-blue,
    icon-interactive: colors.$giga-blue,
    focus: colors.$giga-blue,
    interactive: colors.$giga-blue,
  )
);
@use "@carbon/react/scss/components/button/tokens" as button-tokens with (
  $button-primary: colors.$giga-blue,
  $button-danger-primary: colors.$giga-red,
  $button-secondary: colors.$giga-dark-gray,
  $button-tertiary: colors.$giga-blue
);
@use "@carbon/react";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Open Sans", system-ui, "Segoe UI Variable", "Segoe UI",
    "Helvetica Neue", "Helvetica", sans-serif;
  line-height: 1.5;

  color-scheme: normal;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  min-height: 100vh;
}

a {
  color: theme("colors.primary");
  text-decoration: none;
}

h1 {
  font-size: theme("fontSize.6xl");
}

h2 {
  font-size: theme("fontSize.5xl");
}

h3 {
  font-size: theme("fontSize.4xl");
}

h4 {
  font-size: theme("fontSize.3xl");
}

h5 {
  font-size: theme("fontSize.2xl");
}

h6 {
  font-size: theme("fontSize.xl");
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
