@use "carbon";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Open Sans", system-ui, "Segoe UI Variable", "Segoe UI",
    "Helvetica Neue", "Helvetica", sans-serif;
  line-height: 1.5;

  color-scheme: normal;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  min-height: 100vh;
}

a {
  color: theme("colors.primary");
  text-decoration: none;
}

h1 {
  font-size: theme("fontSize.6xl");
}

h2 {
  font-size: theme("fontSize.5xl");
}

h3 {
  font-size: theme("fontSize.4xl");
}

h4 {
  font-size: theme("fontSize.3xl");
}

h5 {
  font-size: theme("fontSize.2xl");
}

h6 {
  font-size: theme("fontSize.xl");
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.cds--accordion__content {
  margin-inline-start: 0;
  padding-left: 0;
  padding-right: 0;
  margin-left: 0 !important;
}

.pagination-nav-right > .cds--pagination-nav__list {
  justify-content: flex-end;
}

*,
::before,
::after {
  border-width: 0;
  border-style: solid;
  border-color: theme("borderColor.DEFAULT");
}
